pandas
numpy
matplotlib
seaborn
scikit-learn
transformers
torch
nltk
sentencepiece
protobuf
ipykernel
ipywidgets
wordcloud
simpletransformers
tensorboardx
transformers
accelerate
tensorflow
optimum
datasets
scikit-learn